<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary" dw-loading="translate" dw-loading-options="{text: ''}">
                <div class="panel-heading">
                    <h3 class="panel-title">Translate Word</h3>
                </div>
                <div class="panel-body">
                    <div></div>
                    <div>
                        <button type="button" class="btn btn-primary btn-search" data-toggle="collapse"
                                data-target="#search">
                            <i class="fa fa-cog"> Settings memrise </i>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </button>
                    </div>

                    <div class="collapse" id="search">
                        <form class="form-horizontal" role="form" ng-submit="memriseSaveAuth()">
                            <div class="form-group">

                                <label for="login" class="col-sm-3 control-label">Login:</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="login"
                                           placeholder="Login" ng-model="login"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label">Password:</label>

                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="password"
                                           placeholder="Password" ng-model="password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-sm-3 control-label">Title:</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="title"
                                           placeholder="Title" ng-model="title"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Zapisz</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
                <div>
                    <form class="form-horizontal" role="form" ng-submit="translate()">
                        <div class="form-group">
                            <label for="englishWord" class="col-sm-3 control-label">English:</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="englishWord"
                                       placeholder="Wpisz słowo do tłumaczenia" ng-model="english"
                                       ng-click="english = null" autocomplete="off"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Translate</button>
                            </div>
                        </div>

                        <div class="form-group" ng-if="data != null">
                            <div class="col-sm-12">
                                <pre> {{ data | json}} </pre>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
